body {
  background-color: #21a0a0;
}

.container {
  width: 95%;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter {
  border: 5px solid black;
  width: 600px;
  height: 350px;
  margin: auto;
  padding: 25px;
  text-align: center;
  background-color: #fcfff7;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 2rem;
  text-transform: uppercase;
}

#count {
  font-size: 9rem;
}

@media (max-width: 480px) {
  button {
    margin-bottom: 4px;
  }
}
